/* general */

/* header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;
}

.header__left {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 20%;
    height: 30px;
}

.header__logotipo {
    height: 30px;
}

.header__center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30px;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;

    list-style: none;
}

.header__link {
    color: #000;
    text-decoration: none;
}

.header__right {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 10%;
    height: 30px;
}

/* main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.main__section-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__photo {
    width: 100%;
    border-radius: 50%;
}

.main__section-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__name {
    margin-bottom: 10px;
}

.section__job {
    margin-bottom: 10px;
}

.section__bio {
    margin-bottom: 10px;
}

/* footer */

.footer {
    padding: 5px;
    color: #fff;
    background-color: #000;
    text-align: center;
}