/* general */

body {
    background-color: #121212;
    color: #E0E0E0;
}

a {
    color: #4A90E2;
}

a:hover {
    color: #6FAFFF;
}

a:active {
    color: #f00;
}

/* header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header__photo {
    width: 500px;
    border-radius: 50%;
}

.header__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.header__name {}

.header__username {}

.header__post {}

.header__bio {}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__item {}

.header__link {}

@media screen and (max-width: 800px) {
    .header {
        flex-direction: column-reverse;
    }

    .header__photo {
        width: 90%;
    }
}

/* main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__section {
    width: 80%;
    margin: 30px 0;
}

.main__section-title {}

.main__section-text {}

.main__section-subsection {}

.main__section-dubsection-image {
    width: 100px;
}

.main__section-subsection-title {}

.main__section-subsection-content {}

.main__section-subsection-button {
    width: auto;
    height: auto;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
}

.main__section-subsection-description {}

.main__section-subsection-link {}

/* footer */


/*

Tema Oscuro
1. Negro: #121212 (Fondo principal)
2. Gris Oscuro: #1E1E1E (Fondos secundarios o secciones)
3. Gris Medio: #444444 (Bordes, divisores)
4. Gris Claro: #E0E0E0 (Texto principal)
5. Azul Suave: #4A90E2 (Enlaces y elementos interactivos)

*/