@font-face {
    font-family: "Rajdhani-Bold";
    src: url(https://fullsdm.com/assets/fonts/Rajdhani/Rajdhani-Bold.ttf);
}

@font-face {
    font-family: "Rajdhani-Light";
    src: url(https://fullsdm.com/assets/fonts/Rajdhani/Rajdhani-Light.ttf);
}

@font-face {
    font-family: "Rajdhani-Medium";
    src: url(https://fullsdm.com/assets/fonts/Rajdhani/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: "Rajdhani-Regular";
    src: url(https://fullsdm.com/assets/fonts/Rajdhani/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: "Rajdhani-SemiBold";
    src: url(https://fullsdm.com/assets/fonts/Rajdhani/Rajdhani-SemiBold.ttf);
}
