/* general */

body {
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

/* header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

/* main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__section-tickets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main__section-ticket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 10px;

    background: #fff1;
    backdrop-filter: blur(10px);
}

/* footer */