/* general */

body {
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

::selection {
    background-color: #ff8000;
    backdrop-filter: blur(1px);
}

/* header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;

    background-color: #fff1;
    backdrop-filter: blur(10px);
}

.header__logotipo {
    height: 40px;
}

/* main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    padding: 1rem;
}

.main__section-guests {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 1rem;
}

.main__section-guests-image {
    height: 300px;
    border-radius: 10px;
    transition: .5s;
}

.main__section-guests-image:hover {
    box-shadow: 0 5px 10px 0 #008080;
    transform: translateY(-5px);
}

.main__section-guests-image:active {
    height: 450px;
    box-shadow: none;
    transform: none;
}

.main__section-tickets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.main__section-ticket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: 550px;
    padding: 20px;
    border-radius: 10px;

    background-color: #fff1;
    backdrop-filter: blur(10px);
    transition: .5s;
}

.main__section-ticket:hover {
    background-color: #fff3;
}

.main__section-ticket-image {
    border-radius: 10px;
}


.main__section-ticket-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__section-ticket-caption {
    font-weight: bold;
}

.main__section-ticket-button {
    background-color: #ff8000;
    border: 2px Solid #ff8000;
    color: #fff;
    width: 100px;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
}

.main__section-ticket-button:hover {
    background: none;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
}

.footer__copyright-name {
    color: #fff;
    text-decoration: none;
}

.footer__copyright-developer {
    color: #fff;
    text-decoration: none;
}