/* general */

body {
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* header */

/* main */

/* footer */