/* general */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: sans-serif;
}

/* main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
}

input {
    width: 90%;
    height: 30px;
}

button {
    width: 100px;
    height: 30px;
    padding: 5px;
    border-radius: 50px;
}